@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px;
}

progress {
  width: 250px;
  height: 10px;
  background-color: #f05136 !important;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #f05136 !important;
  border-radius: 10px;
}

progress::-webkit-progress-bar {
  background-color: #e4e4e4;
  border-radius: 10px;
}

nav li {
  margin: 0 30px;
}

.logo-text {
  font-size: 2.5em;
  font-weight: 700;
  color: #f05136;
}

.nav-link {
  font-size: 1em;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.nav-link:hover {
  color: #f05136;
}

nav {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background: #212121;
  color: #fff;
  background-image: url(./assets/bg.png);
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

#about article * {
  margin: 20px 20px 30px 20px;
}

#about article {
  width: 60%;
}

.break {
  display: block;
}

#about img {
  width: 300px;
  height: 300px;
  border-radius: 250px;
  margin: 50px;
}

#profiles {
  background-color: #212121;
  color: #fff;
  height: 500px;
}

#profiles div {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  width: 100%;
}

#profiles img {
  width: 60px;
}

#profiles h2,
p {
  margin-bottom: 20px;
}

#profiles div article {
  background-color: #ffffff;
  color: #000;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#profiles div article * {
  padding: 0 50px;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.5em;
}

.link-button {
  text-decoration: none;
  text-align: center;
  background: #f05136;
  cursor: pointer;
  font-weight: 200;
  color: #fff;
  font-size: 1em;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
}

.profile-link {
  text-decoration: none;
  color: #f05136;
  cursor: pointer;
  font-weight: 200;
  font-size: 1em;
}

.profile-link:hover {
  text-decoration: underline;
}

.link-button:hover {
  color: #fff;
}

#profiles,
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

#skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#skills ul {
  list-style: none;
}

#skills-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-bar {
  margin-top: 5px;
}

.skills-label {
  margin-top: 30px;
}

#contact {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.input {
  width: 300px;
  font-size: 1em;
  padding: 10px 20px 10px 20px;
  font-weight: 200;
  margin: 20px 0;
}

.credit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.875em;
  color: #9e9e9e;
  padding-top: 50px;
  background-color: #fafafa;
}
/*
logo text
nav-link
small header (h2)
heading (h1)
Skills, Profiles, About (h2)
languages, Linkedin (h4)
p tag (p)

*/
